<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
    crossorigin="anonymous">


  <link rel="stylesheet" href="/css/style.css">
  <title>Teamwork</title>
</head>

<body>
  <header class="inner">
    <h2><a href="/"><i class="fas fa-code"></i>
        Teamwork</a></h2>
    <nav>
      <ul>
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/users">All Users</a>
        </li>
        <li>
          <a href="/users/add">Add User</a>
        </li>
      </ul>
    </nav>
  </header>

  <div class="container">
    {{{body}}}
  </div>
</body>

</html>
